<!doctype html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      {{message}}
    </div>
    {%endfor%}
    <div class="container">
      <div class="row">
        <div class="col-centered">
          <h2>Login Form</h2>
        </div>
      </div>
      <form action="/login" method="POST">
        <div class="row">
          <div class="col-md-4 col-centered">
              <input type="text" class="form-control" placeholder="Username" name="login">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-centered">
              <input type="password" placeholder="Enter your Password" class="form-control" name="password">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-centered">
              <input type="submit" value="Log in" class="btn btn-block btn-success">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-centered">
              <a href="/register">Регистрация</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>